.postContainer {
  height: 5rem;
  
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;

  h1 {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin: 1.5rem 0 0.5rem 0;
  }

  div.postInfo {
    width: 100%;
    display: flex;
    gap: 1rem;
    font-size: 0.875rem;
    color: var(--grey-200);

    div {
      display: flex;
      line-height: 1rem;
      gap: 0.5rem;
    }
  }

  article {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin: 3rem 0 3rem 0;
    color: var(--grey-100);

  }

  hr {
    opacity: 0.1;
    border: 1px solid var(--grey-100);
  }

  div.utterances {
    width: 100%;
    max-width: 100% !important;
    margin: 0 !important;
  }

  .utterances-frame {
    width: 100%;
  }
}
